#rect{
    height: 430px;
    width: 100vw;
    background-color: #7EBBFF;
    position: absolute;
    top: 160px;
}

#title{
    position: absolute;
    width: 756px;
    height: 337px;
    left: 10vw;
    top: 170px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height:80px;
    letter-spacing: 0.1em;

    color: #FFFFFF;
}

#c{
    position: absolute;
    top: 200px;
    z-index: 1;
    width: 620px;
    left: 50vw;
}

#move-everything{
    position: absolute;
    top: 100px;
}

#slideshow{
    position: absolute;
    top: 730px;
    left: 40vw;
}

#three{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#rect1{
    position: absolute;
    top: 730px;
    height: 525px;
    width: 100vw;
    background-color:  #EDEEF0;
}


#displayBackground{
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}



#background{
    position: absolute;
    margin-top:15px;
    margin-left: 40px;
}

#content{
    position: absolute;
    margin-top: 30px;
    left: 50px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;

    color: #62ABFF;
}

.section{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 8px;
    letter-spacing: 0.1em;

    color: #404040;
}

.num{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 8px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-decoration-line: underline;

    color: #62ABFF;
}

.subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;

    color: #62ABFF;
}

#box {
    display: flex;
    position: absolute;
    top: 530px;
    left: 75px;
}

#year{
    display: flex;
}

#tools{
    position: absolute;
    left: 200px;
    display: flex;
}

#line1{
    margin-right: 4px;
}

#line2{
    margin-right: 4px;
}

.para{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;

    color: #000000;
    width: 500px;

    position: absolute;
    top: 40px;
}

/*contents*/

#contentDivider{
    display: flex;
}

#numList{
    margin-right: 10px;
}

#contentDivider{
    position: relative;
    top: 48px;
    left: 52px;
}

/*1*/
#Overview{
    position: absolute;
    top: 590px;
    left: 35px;
}

#text{
    top: 120px;
    width: 1100px;
    left: 40px;
}

#summary{
    position: absolute;
    left: 2vw;

    top: 270px;
    width: 500px;
    
}

/*2*/
#problem{
    position: absolute;
    top: 1220px;
    left: 40px;
}

#brainstorm{
    position: absolute;
    width: 886px;
    height: 419px;
    left: -9px;
        
}

#text2{
    position: absolute;
    top: -270px;
    width: 830px;
    left: 40px;
}

#rect2{
    position: absolute;
    left: 800px;
    height:419px;
    width: 100vw;
    background-color:  #EDEEF0;
}

#hmw{
    position: absolute;
    left: 60vw;
    z-index: 3;
    width: 500px;
    margin-top: 60px;
}

/*3*/
#ur{
    position: absolute;
    top: 1800px;
    left: 40px;
}

.heading{
    position: absolute;
    
    height: 44px;
    left: 43px;
    top: 100px;
    width: 1000px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    letter-spacing: 0.1em;

    color: #62ABFF;
}

#surveyb{
    position: absolute;
    width: 727px;
    height: 405px;
    left: 50vw;
    top: 250px;
}

#rect3{
    position: absolute;
    width: 650px;
    height: 500px;
    top: 200px;
    left: -40px;
}

#surveywords{
    position: absolute;
    width: 600px;
    height: 500px;
    top: 200px;
    z-index: 3;
    margin-left: 50px;
}

#interviewb{
    position: absolute;
    width: 467px;
    height: 485px;
    left: 76px;
    top: 740px;
}

#rect4{
    position: absolute;
    width: 3000px;
    height: 522px;
    left: 648px;
    top: 700px;
}

#int{
    position: absolute;
    width: 600px;
    left: 53vw;
    top: 800px;
}

/*4*/
#synthesis{
    position: absolute;
    top: 3000px;
    left: 40px;
}

#insightsb{
    width:600px;
    margin-left: 11vw;
}

#synthesis-description{
    position: absolute;
    top: 200px;
    bottom: 40px;
    left: 60vw;
    width: 500px;
}

#venndiagram{
    position: absolute;
    width: 832px;
    height: 394px;
    left: 572px;
    top: 750px;
}

#rect5{
    position: absolute;
    width: 832px;
    height: 394px;
    
    top: 750px;
}

#takeaways{
    position: absolute;
    width: 400px;
    top: 760px;
    left: 5vw;
}

#persona{
    position: absolute;
    top: 1200px;
}

#people{
    width:1000px;
    position: absolute;
    top: 1300px;
    display: block;
    margin-left:20vw;
}


/*5*/
#ideation{
    position: absolute;
    width: 333px;
    height: 59px;
    top: 5000px;
    left: 40px;
}

#idea-description {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 1000px;
}

#rect6{
    position: absolute;
    height: 450px;
    width: 50vw;

}

#braindump{
    position: absolute;
    left: 60vw;
    width: 340px;
}

#bd{
    position: absolute;
    width: 500px;
    top: 280px;
    left: 10vw;
}

#rect7{
    position: absolute;
    top: 620px;
    width: 50vw;
    left:50vw;
    height: 550px;
}

#mm{
    position: absolute;
    top: 750px;
    width: 500px;
    left:57vw;
}

#mindmap{
    position: absolute;
    top: 660px;
    width: 450px;
    left: 10vw;
}

#ideas-description{
    position: absolute;
    top: 1230px;
    width: 1600px;
    left: 40px;
}

#choose{
    position: absolute;
    top: 1300px;
    width: 1000px;
    left: 16vw;
}

#ideas{
    position: absolute;
    top: 1150px;
}

#explain {
    position: absolute;
    width: 817px;
    height: 108px;
    top: 1800px;

    left: 22vw;


    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #62ABFF;
}

/*6*/
#prototype{
    position: absolute;
    width: 400px;
    height: 59px;
    top: 6900px;
}

#proto-description{
    position: absolute;
    top: 170px;
    width: 95vw;
    left: 40px;
}

#lowfi{
    width: 1300px;
    margin-left: 3vw;
    position: absolute;
    top: 250px;
}

#med{
    left: 40px;
    width: 1400px;
    position: absolute;
    top: 900px;
}

#med-description{
    left: 40px;
    width: 1400px;
    position: absolute;
    top: 980px;
}

#mid-fi{
    position: absolute;
    top: 1050px;
    width: 1000px;
    margin-left: 15vw;
}

/*7*/

#next{
    position: absolute;
    top: 8700px;
}

#ns{
    position: absolute;
    top: 60px;
    left: 3vw;
}

#foot2{
    position: absolute;
    top: 9500px;
}