#errimg{
    width:50vw;
    position: absolute;
    top: 100px;
    
}

#errbackground{
    display: flex;
    justify-content: center;
    background-color: #0A0E60;
}

#bc{
    height:120vh;
    width:100vw;
    background-color: #0A0E60;
    position: absolute;
    top: -80px;
    z-index:-10;
}