#footer-background{
    height: 55px;
    width: 100vw;
    background: #0A0E60;
    z-index: 1;
    position: relative;
    top: -55px;
}

.n{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.1em;
    margin-left: 1vw;

    

    color: #FFFFFF;
}

#navbar{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -90px;
    z-index: 5;
    left:2vw;
    text-align: center;
}

#move{
    height: 0px;
}